html {
	scroll-behavior: smooth;
	text-align: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	border: none;

	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
}

div.menu {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;

	width: min(10%, 50px);
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	background: #505050;
	border: none;

	transition: all 0.0s ease-in-out;
}

div.menu.opened {
	width: max(33.3%, 250px);
}

section.menu {
	flex-direction: column;

	display: none;

	padding-top: min(9vw, 45px);
	height: 90%;
}

section.menu.opened {
	display: flex;
}

.menu_toggle {
	box-sizing: border-box;

	padding: 0;
	margin: 0;

	position: absolute;
  	top: 0;
  	left: 0;
  	width: min(9vw, 45px);
  	height: min(9vw, 45px);

  	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;

  	font-size: 150%;

  	background-color: #fff0;
  	border: none;
}

.menu_toggle:after {
	content: "☰";
}

.menu_toggle.opened:after {
	content: "☓";
}

.main {
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	width: 100%;
	margin: 0 0 0 min(10%, 50px);

	border: none;

	transition: width 0.25s ease-in-out;
}

.forks, .foods {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	height: 20%;

	overflow-x: auto;
	overflow-y: hidden;
}

.forks {
	background-color: #909090;
}

.foods {
	background-color: #989898;
}

.timers {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100%;
	padding: 0.5rem;

	background-color: #a0a0a0;
}

.option {
	background-color: #cfcfcf;
	border-radius: 0.5rem;

	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 85%;
	margin: 0.5rem;
	aspect-ratio: 1;
}

.timer {
	background-color: #bfbfbf;
	border-radius: 0.5rem;

	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	align-items: center;

	height: 18%;
	width: 100%;
	margin: 0.25rem;
}